.gtbzzy .hd nav {
    width: 157px;
}
.gtbzzy .bd .more-grid {
    background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);
}
.gtbzzy .bd .more-grid ul {
    padding-left: 67px;
}
.gtbzzy .loading{
    padding: 250px 0px;
}
.gtbzzy .bd ul li.big-grid img{
    width: 100%;
    height: 100%;
}