
.app-header-logo{
    float: left;
    margin-top: 10px;
    height: 45px;
}

.app-header-menu{
    float: right;
    .ant-menu-item{
        span{
            a{display: inline-block;}
        }
    }
}