.detail{
    min-height: 500px;   
    &__title{
        text-align: center;
        border-bottom:1px solid #f4f4f4;
        padding:10px 0px 15px;
        margin-bottom: 25px;
        font-weight: normal;
    }
    &__content{
        font-size: 14px;
        text-indent:2em;
        img{
            float: left;
            margin-right:10px;
        }
    }
}