ul.nav{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 20px;
}
.nav-items{
    width: 25%;
    margin-bottom: 20px;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #999;
    font-size: 12px;
}
.nav-link img{
    width: 46.933%;
    margin-bottom: 5px;
}